

  </div>
</div>
<form method="post" action="user_order">
  {% csrf_token %}
  {% for al in all %}
    <div>

        <img src="{{al.img.url}}"  width="500" height="500">

    </div>

    <input type="hidden" id="userss" name="userss" value={{user.username}} readonly>
   <input type="text" id="name" name="name" value={{al.name}} readonly>
    <input type="hidden" id="email" name="email" value={{user.email}} readonly>
  <div><textarea id="desc" name="desc" rows="2" cols="22" readonly>{{al.desc}}</textarea></div>


   <label >Select Service :</label>
  <select name="service">
    {% for coun in service %}

    <optgroup >

      <option value={{coun.services}}>{{coun.services}}</option>
      {% endfor %}
    </optgroup>

    </select>

    <div><button>Order</button></div>

    </form>

    {% endfor %}

</body>
</html>